<!-- 報告書 -->
<div class="p-form">

  <%= form_tag '/',name: "basic" ,class: 'p-form__box' do %>
  <div class="p-form__block p-form__block--centering">
    <p class="p-form__item p-form__text">欠席日</p>
    <div class="p-form__item">
      <!-- <input id="absence" type="date" name="" value="" class="p-form__input" required="required"> -->
      <%= text_field_tag "", @notice["date"], id: "absence", class: "p-form__input" %>
    </div>
    <!-- <div class="p-form__item"><input type="button" name="" value="確定" onclick="absenceSend(),overlay()" class="p-form__submit"></div> -->
  </div>
  <% end %>
  <%= form_tag '/',name: "form1",class: "p-form__box" do %>
  <table id="table-notice" class="p-form__main">
    <tbody class="p-form__container">
      <tr class="p-form__block p-form__block--between">
        <td class="p-form__item p-form__text">時限</td>
        <td class="p-form__item p-form__text">区別</td>
        <td class="p-form__item p-form__text">科目名</td>
        <!-- <td class="p-form__item p-form__text">担当講師</td> -->
      </tr>
      <tr class="p-form__block">
        <td class="p-form__item">
          <label class="p-form__text p-form__label" for="input1">1</label>
          <input type="checkbox" name="" id="input1" value="1" class="p-form__check">
        </td>
        <!-- <td class="p-form__item">
          <input type="radio" name="line01" value="attend" checked id="line01-attend" class="c-radio__btn">
          <label for="line01-attend" class="c-radio__type">遅刻</label>
          <input type="radio" name="line01" value="late" id="line01-late" class="c-radio__btn">
          <label for="line01-late" class="c-radio__type">早退</label>
          <input type="radio" name="line01" value="absence" id="line01-absence" class="c-radio__btn">
          <label for="line01-absence" class="c-radio__type">欠課</label>
          <input type="radio" name="line01" value="official" id="line01-official" class="c-radio__btn">
          <label for="line01-official" class="c-radio__type">公欠</label>
        </td> -->
        <td class="p-form__item">
          <select name="subject" class="c-dropdown">
            <!-- <option value="0001" class="c-dropdown__item">システム開発</option>
            <option value="0002" class="c-dropdown__item">システム構築</option>
            <option value="0003" class="c-dropdown__item">Webアプリ</option>
            <option value="0004" class="c-dropdown__item">職業指導</option> -->
            <option class="c-dropdown__item"><%= @notice["sub_id_1"] %></option>
          </select>
        </td>
        <td class="p-form__item"><input type="text" name="" value="" class="p-form__input"></td>
      </tr>
      <tr class="p-form__block">
        <td class="p-form__item">
          <label class="p-form__text p-form__label" for="input2">2</label>
          <input type="checkbox" name="" id="input2" value="2" class="p-form__check">
        </td>
        <!-- <td class="p-form__item">
          <input type="radio" name="line02" value="attend" checked id="line02-attend" class="c-radio__btn">
          <label for="line02-attend" class="c-radio__type">遅刻</label>
          <input type="radio" name="line02" value="late" id="line02-late" class="c-radio__btn">
          <label for="line02-late" class="c-radio__type">早退</label>
          <input type="radio" name="line02" value="absence" id="line02-absence" class="c-radio__btn">
          <label for="line02-absence" class="c-radio__type">欠課</label>
          <input type="radio" name="line02" value="official" id="line02-official" class="c-radio__btn">
          <label for="line02-official" class="c-radio__type">公欠</label>
        </td> -->
        <td class="p-form__item">
          <select name="subject" class="c-dropdown">
            <!-- <option value="0001" class="c-dropdown__item">システム開発</option>
            <option value="0002" class="c-dropdown__item">システム構築</option>
            <option value="0003" class="c-dropdown__item">Webアプリ</option>
            <option value="0004" class="c-dropdown__item">職業指導</option> -->
            <option class="c-dropdown__item"><%= @notice["sub_id_2"] %></option>
          </select>
        </td>
        <td class="p-form__item"><input type="text" name="" value="" class="p-form__input"></td>
      </tr>
      <tr class="p-form__block">
        <td class="p-form__item">
          <label class="p-form__text p-form__label" for="input3">3</label>
          <input type="checkbox" name="" id="input3" value="3" class="p-form__check">
        </td>
        <!-- <td class="p-form__item">
          <input type="radio" name="line03" value="attend" checked id="line03-attend" class="c-radio__btn">
          <label for="line03-attend" class="c-radio__type">遅刻</label>
          <input type="radio" name="line03" value="late" id="line03-late" class="c-radio__btn">
          <label for="line03-late" class="c-radio__type">早退</label>
          <input type="radio" name="line03" value="absence" id="line03-absence" class="c-radio__btn">
          <label for="line03-absence" class="c-radio__type">欠課</label>
          <input type="radio" name="line03" value="official" id="line03-official" class="c-radio__btn">
          <label for="line03-official" class="c-radio__type">公欠</label>
        </td> -->
        <td class="p-form__item">
          <select name="subject" class="c-dropdown">
            <!-- <option value="0001" class="c-dropdown__item">システム開発</option>
            <option value="0002" class="c-dropdown__item">システム構築</option>
            <option value="0003" class="c-dropdown__item">Webアプリ</option>
            <option value="0004" class="c-dropdown__item">職業指導</option> -->
            <option class="c-dropdown__item"><%= @notice["sub_id_3"] %></option>
          </select>
        </td>
        <td class="p-form__item"><input type="text" name="" value="" class="p-form__input"></td>
      </tr>
      <tr class="p-form__block">
        <td class="p-form__item">
          <label class="p-form__text p-form__label" for="input4">4</label>
          <input type="checkbox" name="" id="input4" value="4" class="p-form__check">
        </td>
        <!-- <td class="p-form__item">
          <input type="radio" name="line04" value="attend" checked id="line04-attend" class="c-radio__btn">
          <label for="line04-attend" class="c-radio__type">遅刻</label>
          <input type="radio" name="line04" value="late" id="line04-late" class="c-radio__btn">
          <label for="line04-late" class="c-radio__type">早退</label>
          <input type="radio" name="line04" value="absence" id="line04-absence" class="c-radio__btn">
          <label for="line04-absence" class="c-radio__type">欠課</label>
          <input type="radio" name="line04" value="official" id="line04-official" class="c-radio__btn">
          <label for="line04-official" class="c-radio__type">公欠</label>
        </td> -->
        <td class="p-form__item">
          <select name="subject" class="c-dropdown">
            <!-- <option value="0001" class="c-dropdown__item">システム開発</option>
            <option value="0002" class="c-dropdown__item">システム構築</option>
            <option value="0003" class="c-dropdown__item">Webアプリ</option>
            <option value="0004" class="c-dropdown__item">職業指導</option> -->
            <option class="c-dropdown__item"><%= @notice["sub_id_4"] %></option>
          </select>
        </td>
        <td class="p-form__item"><input type="text" name="" value="" class="p-form__input"></td>
      </tr>
      <tr class="p-form__block">
        <td class="p-form__item">
          <label class="p-form__text p-form__label" for="input5">5</label>
          <input type="checkbox" name="" id="input5" value="5" class="p-form__check">
        </td>
        <!-- <td class="p-form__item">
          <input type="radio" name="line05" value="attend" checked id="line05-attend" class="c-radio__btn">
          <label for="line05-attend" class="c-radio__type">遅刻</label>
          <input type="radio" name="line05" value="late" id="line05-late" class="c-radio__btn">
          <label for="line05-late" class="c-radio__type">早退</label>
          <input type="radio" name="line05" value="absence" id="line05-absence" class="c-radio__btn">
          <label for="line05-absence" class="c-radio__type">欠課</label>
          <input type="radio" name="line05" value="official" id="line05-official" class="c-radio__btn">
          <label for="line05-official" class="c-radio__type">公欠</label>
        </td> -->
        <td class="p-form__item">
          <select name="subject" class="c-dropdown">
            <!-- <option value="0001" class="c-dropdown__item">システム開発</option>
            <option value="0002" class="c-dropdown__item">システム構築</option>
            <option value="0003" class="c-dropdown__item">Webアプリ</option>
            <option value="0004" class="c-dropdown__item">職業指導</option> -->
            <option class="c-dropdown__item"><%= @notice["sub_id_5"] %></option>
          </select>
        </td>
        <td class="p-form__item"><input type="text" name="" value="" class="p-form__input"></td>
      </tr>
      <tr class="p-form__block">
        <td class="p-form__item">
          <label class="p-form__text p-form__label" for="input6">6</label>
          <input type="checkbox" name="" id="input6" value="6" class="p-form__check">
        </td>
        <!-- <td class="p-form__item">
          <input type="radio" name="line06" value="attend" checked id="line06-attend" class="c-radio__btn">
          <label for="line06-attend" class="c-radio__type">遅刻</label>
          <input type="radio" name="line06" value="late" id="line06-late" class="c-radio__btn">
          <label for="line06-late" class="c-radio__type">早退</label>
          <input type="radio" name="line06" value="absence" id="line06-absence" class="c-radio__btn">
          <label for="line06-absence" class="c-radio__type">欠課</label>
          <input type="radio" name="line06" value="official" id="line06-official" class="c-radio__btn">
          <label for="line06-official" class="c-radio__type">公欠</label>
        </td> -->
        <td class="p-form__item">
          <select name="subject" class="c-dropdown">
            <!-- <option value="0001" class="c-dropdown__item">システム開発</option>
            <option value="0002" class="c-dropdown__item">システム構築</option>
            <option value="0003" class="c-dropdown__item">Webアプリ</option>
            <option value="0004" class="c-dropdown__item">職業指導</option> -->
            <option class="c-dropdown__item"><%= @notice["sub_id_6"] %></option>
          </select>
        </td>
        <td class="p-form__item"><input type="text" name="" value="" class="p-form__input"></td>
      </tr>
      <tr class="p-form__block">
        <td class="p-form__item">
          <label class="p-form__text p-form__label" for="input7">7</label>
          <input type="checkbox" name="" id="input7" value="7" class="p-form__check">
        </td>
        <!-- <td class="p-form__item">
          <input type="radio" name="line07" value="attend" checked id="line07-attend" class="c-radio__btn">
          <label for="line07-attend" class="c-radio__type">遅刻</label>
          <input type="radio" name="line07" value="late" id="line07-late" class="c-radio__btn">
          <label for="line07-late" class="c-radio__type">早退</label>
          <input type="radio" name="line07" value="absence" id="line07-absence" class="c-radio__btn">
          <label for="line07-absence" class="c-radio__type">欠課</label>
          <input type="radio" name="line07" value="official" id="line07-official" class="c-radio__btn">
          <label for="line07-official" class="c-radio__type">公欠</label>
        </td> -->
        <td class="p-form__item">
          <select name="subject" class="c-dropdown">
            <!-- <option value="0001" class="c-dropdown__item">システム開発</option>
            <option value="0002" class="c-dropdown__item">システム構築</option>
            <option value="0003" class="c-dropdown__item">Webアプリ</option>
            <option value="0004" class="c-dropdown__item">職業指導</option> -->
            <option class="c-dropdown__item"><%= @notice["sub_id_7"] %></option>
          </select>
        </td>
        <td class="p-form__item"><input type="text" name="" value="" class="p-form__input"></td>
      </tr>
      <tr class="p-form__block">
        <td class="p-form__item p-form__text">会社名</td>
        <!-- <td class="p-form__item"><input type="text" name="" value="" class="p-form__input"></td> -->
        <td class="p-form__item"><%= text_field_tag "", @notice["company_name"], class: "p-form__input" %></td>
        <td class="p-form__item p-form__text">目的</td>
        <!-- <td class="p-form__item"><input type="text" name="" value="" class="p-form__input"></td> -->
        <td class="p-form__item"><%= text_field_tag "", @notice["purpose"], class: "p-form__input" %></td>
      </tr>
      <tr class="p-form__block">
        <td class="p-form__item p-form__text">場所</td>
        <td class="p-form__item">
          <!-- <input type="text" name="" value="" class="p-form__input"> -->
          <%= text_field_tag "", @notice["location"], class: "p-form__input" %>
        </td>
        <!-- <td class="p-form__item">
          <input type="date" name="" value="" class="p-form__input">
          <span class="p-form__text">～</span>
          <input type="date" name="" value="" class="p-form__input">
        </td> -->
      </tr>
      <tr class="p-form__block">
        <td class="p-form__item p-form__text">その他:</td>
        <td class="p-form__item">
          <!-- <textarea name="name" class="p-form__textarea"></textarea> -->
          <%= text_area_tag "", @notice["other"], class: "p-form__textarea" %>
        </td>
      </tr>
    </tbody>
  </table>
  <input type="button" name="notice-send" value="受理" class="c-submit">

  <% end %>
</div>
