<main class="l-main">
  <div class="c-pankuzu">
    <div class="c-pankuzu__block">
      <%= link_to "トップページ", {:controller => "static_pages", :action => "home"},
      { :class => "c-pankuzu__link"} %>
      <p class="c-pankuzu__space">></p>
      <%= link_to "教員ページ", {:controller => "teacher_pages", :action => "index"},
      { :class => "c-pankuzu__link"} %>
      <p class="c-pankuzu__space">></p>
      <p class="c-pankuzu__text">報告書受理</p>
    </div>
  </div>
  <h1>通知一覧</h1>
  <table class=p-nofilist>
  <table id="student-edit" class="p-classtable">
  <tr class="p-classtable__line--header p-classtable__line">
  <th class="p-classtable__text">通知番号</th>
  <th class="p-classtable__text">日付</th>
  <th class="p-classtable__text">学籍番号</th>
  <th class="p-classtable__text">生徒名</th>
  <th class="p-classtable__text">種類</th>
  <th class="p-classtable__text">確認</th>
  </tr>
  <tbody class="p-classtable__box">
      <% @notice_list.each {|listitem| %>
        <% if listitem["flg"] != '1' then %>
          <tr class="p-classtable__line">
            <td class="p-classtable__text" ><%= listitem["no_id"] %></td>
            <td class="p-classtable__text" ><%= listitem["date"] %></td>
            <td class="p-classtable__text" ><%= listitem["stu_id"] %></td>
            <td class="p-classtable__text" ><%= listitem["stu_name"] %></td>
            <td class="p-classtable__text" ><%= listitem["table"] %></td>
            <td class="p-classtable__text" ><%= link_to "確認", noticecontent_path(:no_id => listitem["no_id"], :table => listitem["table"]),
            { :class => "p-notice__link p-notice__link--b"} %></td>
          </tr>
        <% end %>
      <% } %>
    </tbody>
  </table>
</main>
