<div class="p-form">
  <H2 class="p-form__title">就職試験受験報告書</H2>
  <div class="p-form__block p-form__block--centering">
    <p class="p-form__text">提出日</p>
    <!-- <input id="f-date" type="date" class="p-form__input"> -->
    <%= text_field_tag "", @notice["date"] %>
  </div>
  <%= form_tag(name: "form1") do %>
  <table id="table-job" class="p-form__main">
    <tr class="p-form__block">
      <td class="p-form__item p-form__text">会社名</td>
      <!-- <td class="p-form__item p-form__text">
        <input type="text" class="p-form__input" name="" value="" placeholder="ふりがな">
      </td> -->
      <td class="p-form__item p-form__text">
        <!-- <input type="text" class="p-form__input" name="" value=""> -->
        <%= text_field_tag "", @notice["company_name"] %>
      </td>
      <tr class="p-form__block">
        <td class="p-form__item p-form__text">所在地</td>
        <td class="p-form__item p-form__text">
          <!-- <select id="geoapi-prefectures" name="geoapi-prefectures">
            <option value="都道府県を選択してください">都道府県を選択してください</option>
          </select>
          <select id="geoapi-cities" name="geoapi-cities">
            <option value="市区町村名を選択してください">市区町村名を選択してください</option>
          </select> -->
          <%= text_field_tag "", @notice["location"] %>
        </td>
      </tr>
    </tr>
    <tr class="p-form__block">
      <td class="p-form__item p-form__text">受験日時</td>
      <td class="p-form__item p-form__text">
        <!-- <input type="date" name="" value=""> -->
        <%= text_field_tag "", @notice["exam_date"] %>
        <!-- <input type="time" name="" value=""> -->
        <%= text_field_tag "", @notice["exam_time"] %>
        <p>～</p>
        <!-- <input type="time" name="" value=""> -->
        <%= text_field_tag "", @notice["exam_time"] %>
        <p>まで</p>
      </td>
    </tr>
    <tr class="p-form__block">
      <td class="p-form__item p-form__text">受験者数</td>
      <!-- <td class="p-form__item p-form__text">
              男子
            </td>
            <td class="p-form__item p-form__text">
              <input type="number" name="" value="">
            </td>
            <td class="p-form__item p-form__text">
              女子
            </td> -->
      <td class="p-form__item p-form__text">
        <!-- <input type="number" name="" value=""> -->
        <%= text_field_tag "", @notice["exam_num"] %>
      </td>
      <td class="p-form__item p-form__text">試験結果</td>
      <td class="p-form__item p-form__text">
        <!-- <input type="date" name="" value=""> -->
        <%= text_field_tag "", @notice["exam_result_date"] %>
        <% if @notice["exam_result_dis"] == "0" then %>
          <input type="checkbox" name="" value="0" checked="checked" id="for-school">
          <label for="for-school">学校宛</label>
          <input type="checkbox" name="" value="1" id="for-person">
          <label for="for-person">本人宛</label>
        <% elsif @notice["exam_result_dis"] == "1" then %>
          <input type="checkbox" name="" value="0" id="for-school">
          <label for="for-school">学校宛</label>
          <input type="checkbox" name="" value="1" checked="checked" id="for-person">
          <label for="for-person">本人宛</label>
        <% else %>
          <input type="checkbox" name="" value="0" id="for-school">
          <label for="for-school">学校宛</label>
          <input type="checkbox" name="" value="1" id="for-person">
          <label for="for-person">本人宛</label>
        <% end %>
      </td>
    </tr>
    <tr class="p-form__block">
      <td class="p-form__item p-form__text">職種</td>
      <td class="p-form__item p-form__text">
        <!-- <input type="text" class="p-form__input" name="" value=""> -->
        <%= text_field_tag "", @notice["category"] %>
      </td>
      <td class="p-form__item p-form__text">業種</td>
      <td class="p-form__item p-form__text">
        <!-- <input type="text" class="p-form__input" name="" value=""> -->
        <%= text_field_tag "", @notice["industry"] %>
      </td>
    </tr>
    <tr class="p-form__block">
      <td class="p-form__item p-form__text">応募方法</td>
      <td class="p-form__item p-form__text">
        <% if @notice["app_method"] == "0" then %>
          <input type="radio" name="apply" value="0" id="pioneer" checked="checked">
          <label for="pioneer">自己開拓</label>
          <input type="radio" name="apply" value="1" id="faction">
          <label for="faction">縁故</label>
          <input type="radio" name="apply" id="school">
          <label for="school">学校求人</label>
          <input id="job-num" type="text" name="" value="">
        <% elsif @notice["app_method"] == "1" then %>
          <input type="radio" name="apply" value="0" id="pioneer">
          <label for="pioneer">自己開拓</label>
          <input type="radio" name="apply" value="1" id="faction" checked="checked">
          <label for="faction">縁故</label>
          <input type="radio" name="apply" id="school">
          <label for="school">学校求人</label>
          <input id="job-num" type="text" name="" value="">
        <% else %>
          <input type="radio" name="apply" value="0" id="pioneer">
          <label for="pioneer">自己開拓</label>
          <input type="radio" name="apply" value="1" id="faction">
          <label for="faction">縁故</label>
          <input type="radio" name="apply" id="school" checked="checked">
          <label for="school">学校求人</label>
          <!-- <input id="job-num" type="text" name="" value=""> -->
          <%= text_field_tag "", @notice["job_number"], id: "job-num" %>
        <% end %>

        <!-- <input type="radio" name="apply" value="0" id="pioneer" checked="checked" onclick="activText('pioneer')">
        <label for="pioneer">自己開拓</label>
        <input type="radio" name="apply" value="1" id="faction" onclick="activText('faction')">
        <label for="faction">縁故</label>
        <input type="radio" name="apply" id="school" onclick="activText('school')">
        <label for="school">学校求人</label>
        <input id="job-num" type="text" name="" value=""> -->
      </td>
    </tr>
    <tr class="p-form__block">
      <td class="p-form__item">
        <p class="p-form__text">試験</p>
        <input type="text" class="p-form__input" name="" value="" placeholder="例：一次、最終">
      </td>
      <td class="p-form__item p-form__text">面接試験</td>
      <td class="p-form__item p-form__text">
        <% if @notice["presence"] == "1" then %>
          <input type="radio" name="interview" value="1" id="interview-there" checked="checked">
          <label for="interview-there">有</label>
          <input type="radio" name="interview" value="0" id="interview-none">
          <label for="interview-none">無</label>
        <% else %>
          <input type="radio" name="interview" value="1" id="interview-there">
          <label for="interview-there">有</label>
          <input type="radio" name="interview" value="0" id="interview-none" checked="checked">
          <label for="interview-none">無</label>
        <% end %>
        <!-- <input type="radio" name="interview" value="1" id="interview-there" checked="checked">
        <label for="interview-there">有</label>
        <input type="radio" name="interview" value="0" id="interview-none">
        <label for="interview-none">無</label> -->
      </td>
    </tr>
    <tr class="p-form__block">
      <td class="p-form__item p-form__text">
        <% if @notice["method"] == "1" then %>
          <input id="personal-interview" type="radio" name="interview-type" value="1" checked="checked">
          <label for="personal-interview">個人面接</label>
        <% else %>
          <input id="personal-interview" type="radio" name="interview-type" value="1">
          <label for="personal-interview">個人面接</label>
        <% end %>
      </td>
      <td class="p-form__item p-form__text">
        <% if @notice["method"] == "2" then %>
          <input id="group-interview" type="radio" name="interview-type" value="2" checked="checked">
          <!-- <label for="group-interview">グループ（人）</label> -->
        <% else %>
          <input id="group-interview" type="radio" name="interview-type" value="2">
          <!-- <label for="group-interview">グループ（人）</label> -->
        <% end %>
      </td>
      <!-- <td class="p-form__item">
        <input id="group-num" type="number" name="" value="" class="p-form__input">
      </td> -->
      <td class="p-form__item p-form__text">
        <% if @notice["method"] == "3" then %>
          <input id="discussion-interview" type="radio" name="interview-type" value="3" checked="checked">
          <label for="discussion-interview">ディスカッション</label>
        <% else %>
          <input id="discussion-interview" type="radio" name="interview-type" value="3">
          <label for="discussion-interview">ディスカッション</label>
        <% end %>
      </td>
      <td class="p-form__item p-form__text">
        テーマ
        <!-- <input id="interview-theme" type="text" name="" value="" class="p-form__input"> -->
        <%= text_field_tag "", @notice["theme"] %>
      </td>
      <!-- <td class="p-form__item p-form__text">
              時間(分)
            </td>
            <td class="p-form__item p-form__text">
              <input type="number" name="" value="">
            </td>
            <td class="p-form__item p-form__text">
              面接官(人)
            </td>
            <td class="p-form__item p-form__text">
              <input type="number" name="" value="">
            </td> -->
    </tr>
    <tr class="p-form__block">
      <td class="p-form__item p-form__text">自由記述</td>
      <!-- <td class="p-form__item p-form__text">質問に関する回答</td> -->
      <td class="p-form__item p-form__text">
        <!-- <textarea name="" row class="p-form__textarea"s="3"><%= @freeText %></textarea> -->
        <%= text_area_tag "", @notice["free_txt"] %>
      </td>
    </tr>
    <!-- <tr class="p-form__block">
            <td class="p-form__item p-form__text">1.志望動機</td>
            <td class="p-form__item p-form__text">
              <textarea name="name" class="p-form__textarea" rows="3"></textarea>
            </td>
          </tr>
          <tr class="p-form__block">
            <td class="p-form__item p-form__text">2.自己PR</td>
            <td class="p-form__item p-form__text">
              <textarea name="name" class="p-form__textarea" rows="3"></textarea>
            </td>
          </tr>
          <tr class="p-form__block">
            <td class="p-form__item p-form__text">3.希望職種</td>
            <td class="p-form__item p-form__text">
              <input type="text" class="p-form__input" name="" value="">
            </td>
          </tr>
          <tr class="p-form__block">
            <td class="p-form__item p-form__text">4.専門学校を選んだ理由</td>
            <td class="p-form__item p-form__text">
              <textarea name="name" class="p-form__textarea" rows="3"></textarea>
            </td>
          </tr>
          <tr class="p-form__block">
            <td class="p-form__item p-form__text">5.取得資格について</td>
            <td class="p-form__item p-form__text">
              <textarea name="name" class="p-form__textarea" rows="3"></textarea>
            </td>
          </tr>
          <tr class="p-form__block">
            <td class="p-form__item p-form__text">6.</td>
            <td class="p-form__item p-form__text">
              <input type="text" class="p-form__input" name="" value="">
            </td>
            <td class="p-form__item p-form__text">
              <textarea name="name" class="p-form__textarea" rows="3"></textarea>
            </td>
          </tr>
          <tr class="p-form__block">
            <td class="p-form__item p-form__text">7.</td>
            <td class="p-form__item p-form__text">
              <input type="text" class="p-form__input" name="" value="">
            </td>
            <td class="p-form__item p-form__text">
              <textarea name="name" class="p-form__textarea" rows="3"></textarea>
            </td>
          </tr>
          <tr class="p-form__block">
            <td class="p-form__item p-form__text">8.</td>
            <td class="p-form__item p-form__text">
              <input type="text" class="p-form__input" name="" value="">
            </td>
            <td class="p-form__item p-form__text">
              <textarea name="name" class="p-form__textarea" rows="3"></textarea>
            </td>
          </tr>
          <tr class="p-form__block">
            <td class="p-form__item p-form__text">9.</td>
            <td class="p-form__item p-form__text">
              <input type="text" class="p-form__input" name="" value="">
            </td>
            <td class="p-form__item p-form__text">
              <textarea name="name" class="p-form__textarea" rows="3"></textarea>
            </td>
          </tr>
          <tr class="p-form__block">
            <td class="p-form__item p-form__text">10.</td>
            <td class="p-form__item p-form__text">
              <input type="text" class="p-form__input" name="" value="">
            </td>
            <td class="p-form__item p-form__text">
              <textarea name="name" class="p-form__textarea" rows="3"></textarea>
            </td>
          </tr> -->
    <tr class="p-form__block">
      <td class="p-form__item p-form__text">筆記試験</td>
      <td class="p-form__item p-form__text">
        <% if @notice["presence"] == "1" then %>
          <input type="radio" name="write" value="1" checked id="write-there" checked="checked">
          <label for="write-there">有</label>
          <input type="radio" name="write" value="0" id="write-none">
          <label for="write-none">無</label>
        <% else %>
          <input type="radio" name="write" value="1" checked id="write-there">
          <label for="write-there">有</label>
          <input type="radio" name="write" value="0" id="write-none" checked="checked">
          <label for="write-none">無</label>
        <% end %>
      </td>
    </tr>
    <!--  <tr class="p-form__block">
            <td class="p-form__item p-form__text">
              一般常識・SPI・時事問題
            </td>
            <td class="p-form__item p-form__text">
              <input type="radio" name="test-typeA" id="typeA-write" value="1" checked="checked">
              <label for="typeA-write">記述</label>
              <input type="radio" name="test-typeA" id="typeA-mark" value="2">
              <label for="typeA-mark">選択</label>
              <td class="p-form__item p-form__text">
                試験時間(分)
              </td>
              <td class="p-form__item p-form__text">
                <input type="number" name="" value="">
              </td>
            </td>
</tr>
<tr class="p-form__block">
            <td class="p-form__item p-form__text">
              <textarea name="name" class="p-form__textarea" rows="3"></textarea>
            </td>
          </tr>
          <tr class="p-form__block">
            <td class="p-form__item p-form__text">
              適正検査
            </td>
            <td class="p-form__item p-form__text">
              <input type="radio" name="test-typeB" id="typeB-person" value="1" checked="checked">
              <label for="typeB-person">性格</label>
              <input type="radio" name="test-typeB" id="typeB-yg" value="2">
              <label for="typeB-yg">YG</label>
              <input type="radio" name="test-typeB" id="typeB-kure" value="3">
              <label for="typeB-kure">クレペリン</label>
              <input type="radio" name="test-typeB" id="typeB-other" value="4">
              <label for="typeB-other">その他</label>
              <td class="p-form__item p-form__text">
                検査時間(分)
              </td>
              <td class="p-form__item p-form__text">
                <input type="number" name="" value="">
              </td>
            </td>
          </tr>
          <tr class="p-form__block">
            <td class="p-form__item p-form__text">
              <textarea name="name" class="p-form__textarea" rows="3"></textarea>
            </td>
          </tr>
          <tr class="p-form__block">
            <td class="p-form__item p-form__text">
              専門
            </td>
            <td class="p-form__item p-form__text">
              <input type="radio" name="test-typeC" id="typeC-computer" value="1" checked="checked">
              <label for="typeC-computer">コンピュータ</label>
              <input type="radio" name="test-typeC" id="typeC-design" value="2">
              <label for="typeC-design">デザイン</label>
              <input type="radio" name="test-typeC" id="typeC-other" value="3">
              <label for="typeC-other">その他</label>
              <td class="p-form__item p-form__text">
                検査時間(分)
              </td>
              <td class="p-form__item p-form__text">
                <input type="number" name="" value="">
              </td>
            </td>
          </tr>
          <tr class="p-form__block">
            <td class="p-form__item p-form__text">
              <textarea name="name" class="p-form__textarea" rows="3"></textarea>
            </td>
          </tr>
          <tr class="p-form__block">
            <td class="p-form__item p-form__text">
              作文(論文)
            </td>
            <td class="p-form__item p-form__text">
              制限時間(分)<input type="number" name="" value="">
            </td>
          </tr>
          <tr class="p-form__block">
            <td class="p-form__item p-form__text">
              <textarea name="name" class="p-form__textarea" rows="3"></textarea>
            </td>
          </tr> -->
    <tr class="p-form__block">
      <td class="p-form__item p-form__text">
        感想及び今後の受験者へのアドバイス
      </td>
      <td class="p-form__item p-form__text">
        <!-- <textarea name="name" class="p-form__textarea" rows="3"></textarea> -->
        <%= text_area_tag "name", @notice["advice"], class: "p-form__textarea" %>
      </td>
    </tr>
    <!-- <tr class="p-form__block">
      <td class="p-form__item p-form__text">
        <input type="radio" name="team" value="1" checked id="team-hc" checked="checked">
        <label for="team-hc">HC</label>
        <input type="radio" name="team" value="2" id="team-jb">
        <label for="team-jb">JB</label>
        <input type="radio" name="team" value="3" id="team-service">
        <label for="team-service">公務員</label>
      </td>
      <td class="p-form__item p-form__text">
        <input type="radio" name="sex" value="1" checked id="male" checked="checked">
        <label for="male">男</label>
        <input type="radio" name="sex" value="0" id="female">
        <label for="female">女</label>
      </td>
      <td class="p-form__item p-form__text">
        <td class="p-form__item p-form__text">
          <input type="text" class="p-form__input" name="" value="" placeholder="学科">
        </td>
        <td class="p-form__item p-form__text">
          <input type="text" class="p-form__input" name="" value="" placeholder="コース">
        </td>
      </td>
    </tr> -->
  </table>
  <% end %>
  <!-- <input type="button" name="job-send" value="送信" onclick="jobSend()" class="c-submit"> -->
</div>
