<main class="l-main" id="js-student">
  <div class="c-pankuzu">
    <div class="c-pankuzu__block">
      <p class="c-pankuzu__text">トップページ</p>
    </div>
  </div>
  <div class="p-content">
     <div class="p-content__main">
        <div class="p-content__box">
            <p class="p-content__link p-content__link--a js-switch" onClick="debug()" >時間割確認</p>
            <%= link_to "公欠・報告提出", {:controller => "student_pages", :action => "report"},
            { :class => "p-content__link p-content__link--b"} %>
          </div>
        <div class="p-attendance">
        <dl class="p-attendance__title">

        </dl>
        <table class="p-situation">
          <thead class="p-situation__head">
            <tr class="p-situation__block">
              <th class="p-situation__item p-situation__item--term">科目名</th>
              <th class="p-situation__item p-situation__item--data">出席回数</th>
              <th class="p-situation__item p-situation__item--data">遅刻回数</th>
              <th class="p-situation__item p-situation__item--data">欠席回数</th>
              <th class="p-situation__item p-situation__item--data">総数</th>
              <th class="p-situation__item p-situation__item--data">出席率</th>
            </tr>
          </thead>
          <tbody class="p-situation__body">
            <% @results.each do |result|  %>
              <tr class="p-situation__block">
                <td class="p-situation__item p-situation__item--term"><a href="/detail/<%=result['sub_id']%>"><%= result['sub_name']%></td>
                <td class="p-situation__item p-situation__item--data"><%= result['attend']%></td>
                <td class="p-situation__item p-situation__item--data"><%= result['late']%></td>
                <td class="p-situation__item p-situation__item--data"><%= result['absence']%></td>
                <td class="p-situation__item p-situation__item--data"><%= result['total_lesson']%></td>
                <td class="p-situation__item p-situation__item--data"><%= result['attend_rate']%> %</td>
              </tr>
            <% end%>
          </tbody>
        </table>
      </div>
    </div>
  </div>
    <%= render 'student_pages/schedule' %>
</main>
