<main class="l-main" id="js-admin">
  <div class="c-pankuzu">
    <div class="c-pankuzu__block">
      <%= link_to "トップページ", {:controller => "teacher_pages", :action => "index"},
      { :class => "c-pankuzu__link"} %>
      <p class="c-pankuzu__space">></p>
      <p class="c-pankuzu__text">学生管理ページ</p>
    </div>
  </div>
  <div class="p-content">
    <div class="p-content__main">
      <h2 class="p-content__title">学生管理</h2>
      <div class="p-admin">
        <!-- <h2 class="p-admin__title">管理者ＩＤ : <%=email_solution%></h2> -->
        <div class="p-admin__main">
          <ul id="js-tab-menu" class="p-admin__switch">
            <li class="p-admin__tab active">
              <a href="#tab1" class="p-admin__tablink p-admin__tab__upload active" @click="i=0">新規登録</a>
            </li>
            <li class="p-admin__tab">
              <a href="#tab2" class="p-admin__tablink p-admin__tab__edit" @click="i=1">クラス編集</a>
            </li>
            <li class="p-admin__tab">
              <a href="#tab3" class="p-admin__tablink p-admin__tab__delete" @click="i=2">学生削除</a>
            </li>
          </ul>
          <div id="tab-box" class="p-admin__contents">
            <div id="tab1" class="p-admin__list is-active">
              <div class="p-admin__box">
                <!-- <p class="p-admin__formtext">学生の新規登録をします。登録する学年・クラスを選択して、ファイルをアップロードしてください。</p> -->
                <p class="p-admin__formtext">学生の新規登録をします。ファイルをアップロードしてください。</p>
                <!-- 学生新規登録 -->

                <!-- <form class="p-admin__form">
                </form> -->

                <!-- <table id="student-upload" class="c-table">
                <tr class="c-table__line">
                <th class="c-table__text">学籍番号</th>
                <th class="c-table__text">氏名</th>
                <th class="c-table__text">ルビ</th>
                <th class="c-table__text">メールアドレス</th>
              </tr>
              <tr class="c-table__line">
              <td><input type="text" size="7" name="stu_id" value="" class="student-upload"></td>
              <td><input type="text" name="stu_name" value="" class="student-upload"></td>
              <td><input type="text" name="stu_rubi" value="" class="student-upload"></td>
              <td><input type="email" name="stu_mailaddr" value="" class="student-upload"></td>
            </tr>
          </table> -->
                <!-- <div id="table"></div> -->
                <%= form_tag '/new_regist', method: 'post', multipart: true ,class: "p-admin__newform" do %>
                <div class="p-admin__formbox">
                  <div class="p-admin__block">
                    <!-- <div class="p-admin__select">
                      <p class="p-admin__text">学年</p>
                      <select class="c-dropdown" name="new_regist_years">
                        <option class="c-dropdown__item" value="1">1</option>
                        <option class="c-dropdown__item" value="2">2</option>
                        <option class="c-dropdown__item" value="3">3</option>
                      </select>
                    </div> -->
                    <!-- <div class="p-admin__select">
                      <p class="p-admin__text">クラス</p>
                      <select class="c-dropdown" name="new_regist_class">
                        <option class="c-dropdown__item" value="A">A</option>
                        <option class="c-dropdown__item" value="B">B</option>
                        <option class="c-dropdown__item" value="C">C</option>
                        <option class="c-dropdown__item" value="D">D</option>
                        <option class="c-dropdown__item" value="E">E</option>
                        <option class="c-dropdown__item" value="F">F</option>
                        <option class="c-dropdown__item" value="G">G</option>
                      </select>
                    </div> -->
                  </div>
                  <div class="p-admin__block">
                    <label class="p-admin__notice">CSVをアップロードしてください</label>
                    <input type="file" name="csv_file" id="csv_file" class="p-admin__input"/>
                  </div>
                </div>
                <%= submit_tag 'Send file' ,:class => "c-submit" %>
                <% end %>
              </div>

            </div>
            <div id="tab2" class="p-admin__list">
              <div class="p-admin__box">
                <p class="p-admin__formtext">クラスの編集をします。登録する学年・クラスを選択してください</p>
                <!--<%= form_tag '/student', method: 'put', multipart: true do%> -->
                <form name="adminEdit" class="p-admin__form">
                  <div class="p-admin__select-block">
                    <div class="p-admin__select">
                      <p class="p-admin__text">学年</p>
                      <select id="js-edit__year" class="c-dropdown" name="edit_years">
                        <option class="c-dropdown__item" value="1">1</option>
                        <option class="c-dropdown__item" value="2">2</option>
                        <option class="c-dropdown__item" value="3">3</option>
                      </select>
                    </div>
                    <div class="p-admin__select">
                    <p class="p-admin__text">クラス</p>
                    <select id="js-edit__classes" class="c-dropdown" name="edit_classes" onclick="admin_select_class()">
                      <option class="c-dropdown__item" value="1">A</option>
                      <option class="c-dropdown__item" value="2">B</option>
                      <option class="c-dropdown__item" value="3">C</option>
                      <option class="c-dropdown__item" value="3">D</option>
                      <option class="c-dropdown__item" value="3">E</option>
                      <option class="c-dropdown__item" value="3">F</option>
                      <option class="c-dropdown__item" value="3">G</option>
                    </select>
                  </div>
                  </div>
                  <div class="p-admin__container">
                    <label for="promPermission" class="p-admin__text">進級を許可する</label>
                    <input id="promPermission" type="checkbox" onclick="window.promotionBtn()">
                  </div>
                  <div class="p-admin__box" id="admin_select_class">

                  </div>
                  <div class="p-admin__block">
                    <!-- <input id="stUpdateBtn" type="button" value="編集" class="c-submit" onclick="studentUpdate()" disabled="disabled"> -->
                    <input id="stUpdateBtn" type="button" value="編集" class="c-submit" onclick="disp(this.id, this.value)" disabled="disabled">
                    <!-- <input id="promotionBtn" type="button" value="進級" class="c-submit" onclick="classPromotion()" disabled="disabled"> -->
                    <input id="promotionBtn" type="button" value="進級" class="c-submit" onclick="disp(this.id, this.value)" disabled="disabled">
                  </div>
                </form>
              </div>
              <!--<%end%> -->
            </div>
            <!--  学生の削除 -->
            <div id="tab3" class="p-admin__list">
              <%= form_tag '/student', method: 'delete', multipart: true ,class: "p-admin__form" do%>
              <div class="p-admin__box">
                <p class="p-admin__formtext">学生の削除をします。登録する学年・クラスを選択してください</p>
                <div class="p-admin__select-block">
                <div class="p-admin__select">
                  <p class="p-admin__text">学年</p>
                  <select class="c-dropdown" name="del_years">
                    <option class="c-dropdown__item" value="1">1</option>
                    <option class="c-dropdown__item" value="2">2</option>
                    <option class="c-dropdown__item" value="3">3</option>
                  </select>
                </div>
                <div class="p-admin__select">
                  <p class="p-admin__text">クラス</p>
                  <select class="c-dropdown" name="del_years" onclick="admin_select_delete()">
                    <option class="c-dropdown__item" value="1">A</option>
                    <option class="c-dropdown__item" value="2">B</option>
                    <option class="c-dropdown__item" value="3">C</option>
                    <option class="c-dropdown__item" value="3">D</option>
                    <option class="c-dropdown__item" value="3">E</option>
                    <option class="c-dropdown__item" value="3">F</option>
                    <option class="c-dropdown__item" value="3">G</option>
                  </select>
                </div>
                </div>
                <div id="admin_delete_class" class="p-admin__box p-deltable">
                </div>
                <input type="submit" name="submit" value="削除" class="c-submit">
              </div>
              <%end%>
            </div>
            <!--  ここまで  -->

            
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
